// /* Make it a marquee */
// .marquee {
//     width: 100%;
//     margin: 0 auto;
//     white-space: nowrap;
//     overflow: hidden;
//     box-sizing: border-box;
//     /* border: 1px green solid; */
//     span {
//       padding-left: 600px;
//       display: inline-block;
//       animation: marquee 12s linear infinite;
//       vertical-align: top;
//     }
//     span:hover {
//       animation-play-state: paused;
//     }
//     img {
//       max-height: 75px;
//       max-width: 75px;
//       margin-left: 10px;
//       margin-right: 10px;
//     }
// }
//
// /* Make it move */
// @keyframes marquee {
//     0%   { transform: translate(0, 0); }
//     // 10% { transform: translate(-10%, 0); }
//     // 20% { transform: translate(-20%, 0); }
//     // 30% { transform: translate(-30%, 0); }
//     // 40% { transform: translate(-40%, 0); }
//     // 50% { transform: translate(-50%, 0); }
//     // 60% { transform: translate(-60%, 0); }
//     // 70% { transform: translate(-70%, 0); }
//     // 80% { transform: translate(-80%, 0); }
//     // 90% { transform: translate(-90%, 0); }
//     100% { transform: translate(-100%, 0); }
// }

// @mixin justify($vertical-align: middle) {
//     text-align: justify;
//     text-justify: distribute-all-lines;
//     line-height: 0;
//
//     // clear inline-block spacing
//     letter-spacing: -0.31em;
//
//     &:after {
//         content: '.';
//         display: inline-block;
//         height: 0!important;
//         width: 100%;
//         overflow: hidden!important;
//         visibility: hidden;
//
//         font-size: 0;
//         word-spacing: 100%;
//     }
//
//     > img {
//         display: inline-block;
//         vertical-align: $vertical-align;
//         text-align: left;
//         line-height: 1;
//         max-height: 75px;
//         max-width: 75px;
//
//         // reset `inline-block spacing` trick
//         letter-spacing: 0;
//     }
// }
//
// .imgs {
//     @include justify();
//
//     height: 110px;
//     overflow: hidden;
//
//     img {
//         margin: 20px 1.6%;
//     }
// }

// MIXINS USED

@mixin center-vertically($pseudo-el: 'before') {
    position: relative;

    &:#{$pseudo-el} {
        content: '';
        position: relative;
        height: 100%;
        width: 0;
    }

    &:#{$pseudo-el},
    > * {
        vertical-align: middle;
        display: inline-block;
    }
}

@mixin justify($vertical-align: top, $childs: '*') {
    text-align: justify;
    text-justify: distribute-all-lines;
    line-height: 0;

    // clear inline-block spacing
    letter-spacing: -0.31em;

    &:after {
        content: '.';
        display: inline-block;
        height: 0!important;
        width: 100%;
        overflow: hidden!important;
        visibility: hidden;

        font-size: 0;
        word-spacing: 100%;
    }

    > #{unquote($childs)} {
        display: inline-block;
        vertical-align: $vertical-align;
        text-align: left;
        line-height: 1;

        // reset `inline-block spacing` trick
        letter-spacing: 0;
    }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  transform: $args;
}



// MARQUEE

@include keyframes(loop) {
    0%   {
        @include transform( translateX(0) );
    }
    100% {
        @include transform( translateX(-(33.3% * 2)));
    }
}


$height: 110px;

.marquee {
    position: relative;
    width: 100%;
    overflow: hidden;

    > ul {
       list-style: none;
       position: relative;
       z-index: 1;
       top: 0;
       left: 0;
       width: 300%!important;
       height: $height;
       @include transform(translate3d(0, 0, 0));
       @include animation(loop 35s linear infinite);
    }

    > ul > li {
        @include center-vertically();
        @include justify(middle);

        float: left;
        width: 33.333333%;
        height: $height;
        overflow: hidden;

        img {
          margin: 20px 1.6%;
          max-height: 50%;
          max-width: 50%;
        }
    }
}
